@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "work sans", sans-serif;
  
  font-weight: 400;
  font-style: normal;
 
}
/*sheard style*/

.display-flex {
  display: flex;
}
/* dark-2*/
.text-gray {
  color: #424242;
}

.text-primary{
  color: #FF900E;
}

/* dark-3*/
.text-light-gray {
  color: #727272;
}
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-weight: 600px;
    border-radius: 8px;
    border: none;
  }
  .main{
    max-width: 1440px;
    margin: 0 auto;
  }
  .main > section{
    margin-top: 130px;
  }
  .section-title{
  font-size: 2.8rem;
  font-weight: 700;
}
  /* sponspors style */
  .sponspors-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
    margin-top: 180px;
    
  }
  .sponspors-compani{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
  }
  .sponspors-compani img{
  filter: grayscale(100%);
  text-align: center;
  margin-left: 240PX;
  margin-right: 240PXS;
  
  }

/*header style */

 
/*nav bar style*/

.navbar{
   justify-content: space-between;
   align-items: center ;
}

.brand{
  font-weight: 700;
    font-size: 3rem;


  }

.nav-item {
  list-style: none;
  margin-right: 30px;
  }

  

.nav-link {
  text-decoration:none;
  font-weight: 500;
}
.navbar,.banner{
  max-width: 1400px;
  margin: 0 auto;

}
/*banner-relted-style*/

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight:700 ;
  font-size:4rem ;
 
 
}
.banner-image{
  width: 100%;
}
/* team and features related*/
.teams {
  display: flex;
  align-items: center;

 
  
 
 
}
.team-images-container{
  align-items: center; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  left: 30px; 
  justify-items: center;
  margin-left: 285px;
  margin-top: 85px;

}
.our-features{
  margin-left: 130px;
  max-width:530px;


}

#quick list{
  font-weight: 500;
}
/*featchers styles */

#featchers-section-taitle{
  border-left: 5px solid #FF900E;
  padding: 21px;

}
.featchers{
  gap: 140px;
  margin-left: 240px;
  margin-top: 130px;
}


.featchers-card{
   padding: 30px;
  box-shadow:  0 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
}
.featchers-card, .featchers-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
 

}
#experience-badge {
  padding: 45px 42px ;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}
#experience-year{
  font-size: 4rem;
  font-weight: 700;
}
#featchers-architect img{
  width: 100%;
}


.some-facts { 
  margin-left: 235px;
  margin-top: 85px ;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
}

.fatcs-card{
   
   border: 1px solid #FF900E;
   width: 240px;
   height:240px;
   text-align: center;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
   

}
.facts-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.facts-name{
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 10px;
}
.facts-description{
  max-width: 540px;
}
/*footre style*/
.footer-text{
  border: 1px solid rgba(255, 244, 231, 1);
  text-align: center;
  border-radius: 8px;
  background-color: rgba(255, 244, 231, 1);
  margin-top: 130px;
  margin-bottom: 240px;
  padding: 38px 410px;
  margin-left: 240px ;
  margin-right:  240px; 
  font-size: 20px;

}


/* responcive web site */

@media screen and (max-width: 576px ) {
  .navbar, 
  .nav-link, 
  .teams,
  .featchers
  {
    flex-direction: column;
  }
  .team-images-container , 
  .facts-container, 
  .sponspors-compani{
    grid-template-columns: repeat(1, 1fr);
  }
  .facts-container{
    justify-items: center;
    gap: 24px;
  }
  .our-features {
    margin-left: 20px;
  }
  .banner-content{
   justify-items: center;
   gap: 50px;
  }

}
@media  screen and (max-width:576px) and (max-width:992px) {
  .teams, .featchers{
    flex-direction: column;

  }
  .our-features{
    margin: 50px auto;
  }
  .sponspors-compani,
   .facts-containers{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
  }
  #experience-year{
    margin-top: 20px;
    margin-left: 20px;
  }
  
}
 
  

  
